.event-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px
}

.event-info {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.event-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
