.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 0px 50px
}

.search-options {
    margin: 0px 0px 0px 50px
}

.search-link {
    margin-left: 10px;
}
