.group-container {
    display: flex;
    justify-content: space-between;
    margin: 25px
}

.group-info {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.group-calendar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
}

.group-footer {
    display: flex;
    /* flex-direction: ; */
    /* align-items: center; */
}
