.group-container {
    display: flex;
}

.group-info {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.group-events {
    background:rgba(248, 39, 39, 0.767);
    border: 1px solid #EEE;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-wrap: normal;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    position: relative;
}

.group-events__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-events__calendar {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    width: 300px;
    margin: 20px;
}

.group-events__list {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    height: 119.3px;
    width: 300px;
    margin: 20px;
}
