/* TODO Add site wide styles */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: yellow;
    background-color: transparent;
    border: 0;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search-card {
    background:rgba(248, 39, 39, 0.767);
    border: 1px solid #EEE;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-wrap: normal;
    margin: 0px 0px 20px 0px;
    border-radius: 20px;
    position: relative;
}

.search-card:hover {
    transform: scale(1.03, 1.03)
}

.search-card__name {
    font-size: larger;
    font-weight: bold;
    margin: 15px 15px 5px;
}

.search-card__info {
    font-size:small;
    margin: 0px 15px 10px;
}
