.splash-container{
    display: flex;
    justify-content:space-between;
}

/* .splash-box {
    margin-top: 110px;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 25px;
    background-color: rgba(221, 28, 28, 0.623);
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.splash-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 25px
}

.splash-right {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    padding-right: 80px;
    margin: 80px, 80px;
}
