.navbar__container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px 10px 10px 10px
}

/* .navbar__logo {
    display: flex;
    justify-content: flex-start;
} */

/* .navbar__right {
    display: flex;
    /* justify-content:
} */
