.navbar__container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: rgba(248, 39, 39, 0.767);
    border: 1px solid #EEE;
}

.navbar__logo {
    display: flex;
    justify-content: flex-start;
    color: yellow
}

.navbar__right {
    display: flex;
    justify-content: flex-end;
}

.navbar__link {
    margin-left: 5px;
}

/* .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
} */
