.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.login-field {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

.login-label {
    width: 200px;
}

.login-input {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
}

#login-button {
    margin-top: 10px;
    margin-bottom: 10px;
}
